.recent-post-section {
  margin-left: 30px;
  margin-top: 30px;
  color: #868686;;
}

.recent-post-title {

}

.recent-post-list {
  font-size: 14px;
}

.recent-post-item {
  margin-bottom: 6px;
}

.recent-post-item__icon {
  display: inline-block;
  color: #3ec6ff;
}
.recent-post-item-info{
  display: inline-block;
  margin-left: 16px;
}

.recent-post-item__name {
  color: #3ec6ff;
  text-decoration: underline;
}

.recent-post-item__time {

}

