.main {

}

.main-wrapper{
  background-color: rgb(246, 246, 246);
  margin: 15px 0;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: rgb(230,230,230);
}

.side-bar {
  display: flex;
  flex: 1;


}

.side-bar__list {
  display: flex;
  flex-direction: column;
  padding: 12px 0;

  background-color: rgb(246, 246, 246);
  //box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.side-bar__item {
border-bottom-style: solid;
  border-bottom-color: rgb(230,230,230);;
  border-bottom-width: 1px;
}

.side-bar__link {
  padding: 10px 20px 10px 12px;
  display: block;
  text-decoration: none;
  color: #868686;
  &:hover {
    background-color: #3ec6ff;
    color: white;
  }

}

.content__info {
  display: flex;
  flex: 4;
  padding: 14px 20px 14px 26px;
  background-color: rgb(246, 246, 246);
  color: #868686;
  //box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

