//.information{
//  display: flex;
//  flex-direction: row;
//  color: #343434;
//  flex: 1;
//  height: 100%;
//  font-weight: 600;
//}

.contacts__blog {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-width: 1px;
  border-style: dotted;
  border-color: white;
  padding: 16px;
  margin: 30px;
  font-weight: 600;
  color: white;

}

.contacts__title {
  font-size: 22px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: white;
}

.contacts__address {
  padding: 10px 0;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: white;

}

.contacts__desc {
  line-height: 26px;
  flex: 1;
  padding: 30px 46px 46px 46px;
  width: 200px;
  background: #f6f6f6;
  color: #868686;

}

.contacts__title-desc{
  font-size: 22px;
  font-weight: 600;

}

.contacts__form{
  margin-top: 12px;
}