.documents__name {
  padding: 10px 0;
  color: #868686;
  cursor: pointer;
  &:hover {
    color: #343434;
    background-color: #3ec6ff;
  }
  transition: all 0.5s linear;
}

.documents-desc {
  display: none;
  max-height: 280px;
  overflow-y: scroll;
  margin-bottom: 16px;
  font-size: 12px;
  font-style: italic;

}

.active_desc {
  display: block;
}

.documents__item {
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);;
  border-bottom-width: 1px;
}