.category-section{
  font-size: 16px;
  color: #868686;
  margin-left: 30px;
  margin-top: 30px;
}
.category-title{

}

.category-list{

}
.category-item{

}

.category-icon{
  color: #3ec6ff;
}
.category-name{
  padding-bottom: 6px;
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;

  &:hover{
   font-weight: bold;
  }

}