.footer_privacy {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 3;
}

.modal__background {
  background-color: rgba(0, 0, 0, .1);
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__main-footer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(150, 150, 150, 0.9) 100%), url("../../../../image/moscow-1029511_1920.jpg");
  //background-color: #f6f6f6;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 900px;
  height: 420px;

  position: relative;
  display: flex;
  flex-direction: row;
  //filter: grayscale(1);

}

//linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(150, 150, 150, 1) 100%),

.close {
  z-index: 9;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  cursor: pointer;

}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #000000;

}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);

}

.privacy__info{
  padding: 14px 20px 14px 26px;
  width: 80%;
}

.privacy__title {
 color: #343434;
  font-size: 24px;
  padding: 8px 0;
  font-weight: 600;
}
.privacy__desc{
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #343434;
  padding: 8px 0;
}