.check-docs{
  display: block;
  width: 100%
}

.check-docs__list{
  display: block;
  margin: 20px 0;
}

.check-docs__item{
  display: block;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);;
  border-bottom-width: 1px;
}

.check-docs__link{
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #868686;
  padding-left: 10px;
  &:hover {
    color: #343434;
    background-color: #3ec6ff;
  }
  transition: all 0.5s linear;
}

.main-blog-title{
  font-size: 22px;
  font-weight: 600;
  color: #828286;
}